.r_js_time_access {
    white-space: nowrap;
    margin-top: 30px;
    display: flex;
    text-align: right;
}

.r_fsaccss { font-size: 20px;}

.iframe_yt_valo_ace_1v4 { margin-top: 200px;}

.r_yt_valo_h1_01 {
    margin-left: 75px;
    text-align: left;
    font-family:"游ゴシック";
}

.spn_yt_valo { color:red;}